<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application name="Client">
      <!-- List of wellknown services -->
      <service>

        <wellknown mode="SingleCall"
            type="Client.Requests, Client"
            objectUri="Request"/>

        <wellknown mode="Singleton"
            type="Client.PrivateMessages, Client"
            objectUri="Message"/>

      </service>

      <!-- List of client services -->
      <client>

        <wellknown
          url="tcp://localhost:8080/Auth"
          type="Common.IAuth, Common"/>

      </client>
    </application>
  </system.runtime.remoting>
</configuration>