<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application name="Client">
      <!-- List of client services -->
      <client>
        <activated
          type="Common.IAuth, Common"
          url="tcp://localhost:8080/Auth"/>

        <wellknown type="Common.IMessages, Common"
           url="tcp://localhost:8080/Messages"/>

      </client>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>