<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application name="Server">

      <!-- List of wellknown services -->
      <service>

        <wellknown mode="Singleton"
            type="Server.Auth, Server"
            objectUri="Auth"/>

        <wellknown mode="Singleton"
            type="Server.Messages, Server"
            objectUri="Messages"/>

      </service>

      <channels>
        <channel port="8080" ref="tcp">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>