<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application name="Server">
      <service>
        <!-- List of wellknown services -->
        <wellknown mode="Singleton"
            type="Server.Auth, Server"
            objectUri="Auth"/>
      </service>
      <channels>
        <channel port="8080" ref="tcp"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>